Explicit Requirements
1. Allow user to type in search query.
2. Get image results via unsplash API.
3. Display results to web page.
4. Allow user to select an image and set as background.

Assumed Requirements:
5. Update results while user is typing.
6. Allow user to see multiple pages of results.
7. Display message when no results found.

Stretch Goals:
8. persist the history of background changes in local storage so that I can see my past selections when I come back to the site.

9. Allow user to choose from a small selection of instagram like filters before setting as background.

Constraints:
1. No jquery, just vanilla js.
